body{
background-image:url(./images/bg_image.jpg);
height: 700px; /* You must set a specified height */
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
}
h1,h2,h3{
font-color:#000000;
}

.registration_form {
    margin: 80px auto;
    width: 400px;
    padding: 30px 25px;
    background: #526E2A;
    border: 1px solid saddlebrown;
}
.form {
    margin: 80px auto;
    width: 400px;
    padding: 30px 25px;
    background: #526E2A;
    border: 1px solid saddlebrown;
}
.login_form {
    margin: 80px auto;
    width: 400px;
    padding: 30px 25px;
    background: #526E2A;
    border: 1px solid saddlebrown;
}
.welcome {
    margin: 80px auto;
    width: 400px;
    padding: 30px 25px;
}
 
h1.login-title {
  color: #000000;
  text-align:center;
  font-size: 30px;
  font-weight: 400; 
}
.login-field {
    width: 350px;
    height: 37px;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
}
input.loginButton {
    padding: 10px;
    width: 100px;
    background-color: #ffffff;
    border: 2px solid #fff;
    border-radius: 5px;
}
.login-button {
   background-color: #fff;
    width: 100px;
    padding: 11px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;
    float: left;
    margin: 1px 25px 1px 15px;
} 
ul.account_list li {
    padding: 20px;
    float: left;
    text-align: center;
    list-style: none;
}
p.registration-here {
    background-color: #fff;
    width: 85px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;
    float: left;
    margin: 1px 50px 1px 50px;
} 
a{
    background-color: #fff;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.go-login
{
  text-align:center;
  margin-bottom:0px;
}
 
.go-login a
{
  color:#666;
  text-decoration:none;
  font-size:13px;
}
